/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

/* Page Background */
body {
  background: lightgray;
  min-height: 100vh;
  padding: 30px;
}

/* Header Container */
.topnav{
  background: white;
  border-radius: 12px;
  padding: 15px 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.15);
}

/* Header Title */
header {
  font-size: 26px;
  font-weight: bold;
  color: #333;
}

/* Links */
a {
  text-decoration: none;
  color: #4b6cb7;
  font-weight: 600;
}

a:hover {
  color: #182848;
}

/* Navigation */
nav {
  display: flex;
  gap: 25px;
}

nav a {
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.3s;
}

nav a:hover {
  background-color: #4b6cb7;
  color: white;
}

/* Main Content */
h1 {
  color: #182848;
  margin-bottom: 10px;
}

p {
  color: #333;
  margin-bottom: 25px;
}

/* Form Card */
form {
  background: white;
  padding: 30px;
  border-radius: 15px;
  width: 400px;
}

/* Labels */
label {
  font-size: 18px;
  font-weight: 600;
  color: #444;
}

/* Inputs */
input {
  width: 100%;
  font-size: 16px;
  padding: 12px;
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #ccc;
}

input:focus {
  outline: none;
  border-color: #4b6cb7;
}

/* Username Highlight */
#username {
  background-color: #fdf6d8;
}
#password {
  background-color: #d8f0fd;
}
#submit {
  background-color: blue;
}

/* Submit Button */
input[type="submit"] {
  background:blueviolet;
  color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  transition: 0.3s;
}
